@import "./../../styles/base/mixins.scss";
.latest {
    font-size: 24px;
    padding: 60px 0;
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            font-weight: 600;
            letter-spacing: 0.3px;
            @include _mobile {
                font-size: 20px;
            }
        }
        margin-bottom: 45px;
    }
    &__more {
        opacity: 0.7;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        cursor: pointer;
    }
    &__more:hover {
        color: rgb(232, 128, 10);
        opacity: 1;
        transition: all ease-in-out 0.3s;
    }
    &__more:active {
        color: rgb(248, 6, 6);
        transition: all 0.3s ease;
    }
    &__wrappers {
        display: flex;
        flex-wrap: wrap;
        column-gap: 85px;
        row-gap: 54px;
        @include _large-desktop {
            column-gap: 65px;
            justify-content: center;
        }
        @include _tablet {
            column-gap: 25px;
        }
    }
    &__item {
        transition: transform 0.5s;
        img {
            width: 231px;
            height: 318px;
            margin-bottom: 32px;
            @include _large-desktop {
                width: 215px;
            }
            @include _mobile {
                width: 250px;
            }
        }
        h4 {
            font-size: 22px;
            width: 230px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        p {
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            opacity: 0.4;
            span {
                margin-left: 11px;
                color: #fb1351;
            }
        }
    }
    &__item:hover {
        transform: scale(1.05) translateX(7px) translateY(-7px);
    }
}
