.upcoming {
    padding-top: 50px;
    margin-bottom: 150px;
    &__wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 55px;
        h3 {
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 0.3px;
        }
    }
}

.current {
    grid-area: 1 / 1 / 4 / 2;
    width: 97%;
    height: 562px;
    object-fit: cover;
    object-position: right;
}
