.header {
    position: relative;
    z-index: 10;
    padding-top: 30px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 31px;
    li {
        display: inline-block;
        a {
            color: rgb(255, 255, 255);
            font-family: "Poppins";
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.header__nav .active {
    a {
        color: rgb(251, 19, 81);
    }
}
