@import "./../../styles/base/mixins.scss";
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 30px;

    &__profile {
        display: flex;
        align-items: center;
        gap: 20px;
        li {
            display: inline-block;
        }
    }
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 31px;
    @include _tablet {
        display: none;
    }
    li {
        display: inline-block;
        a {
            color: rgb(255, 255, 255);
            font-family: "Poppins";
            font-size: 20px;
            font-weight: 500;
            font-weight: 600;
        }
    }
}

.header__nav .active {
    a {
        color: rgb(251, 19, 81);
    }
}

.header__burger {
    display: none;
    @include _tablet {
        display: block;
        width: 40px;
    }
}
