@import "./../../styles/base/mixins.scss";
.treyler__wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    @include _mobile {
        margin-top: 30px;
    }
}
.treyler {
    width: 560px;
    iframe {
        width: 100%;
    }
}
.YTPlayer-iframe {
    pointer-events: none; /* Отключаем события мыши на плеере */
}
.YTPlayer-embed {
    pointer-events: none; /* Отключаем события мыши на плеере */
}
.YTPlayer-video-iframe {
    pointer-events: none; /* Отключаем события мыши на плеере */
}
.ytp-chrome-top {
    display: none !important; /* Скрываем верхнюю панель управления */
}
.ytp-chrome-bottom {
    display: none !important; /* Скрываем нижнюю панель управления */
}
