.image-slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-slider {
  display: flex;
  gap: 40px;
}

.upImage {
  width: 100%;
  height: 100%;
}
.upLink {
  width: 280px;
  display: block;
  flex-shrink: 0;
  transition: transform 0.5s;
}
.upLink:hover {
  transform: scale(1.05) translateX(7px) translateY(-7px);
}
