@import "./../../styles/base/mixins.scss";
.movies-info {
    &__background {
        width: 100%;
        height: 80vh;
        object-fit: cover;
        object-position: center;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 60px;
    }
    &__distributions {
        h4 {
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 0.3px;
            margin-bottom: 45px;
        }
        p {
            color: rgb(110, 118, 129);
            font-size: 13px;
            margin-bottom: 25px;
        }
        @include _large-desktop {
            display: none;
        }
    }
    &__countries {
        display: flex;
        align-items: center;
        gap: 35px;
    }
    &__genres {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        line-height: 1;
        margin-bottom: 10px;
        gap: 15px;
        span {
            font-size: 17px;
            color: #b47825;
            text-transform: uppercase;
        }
    }
    @keyframes float {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes float {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    &__name {
        display: block;
        font-size: 65px;
        font-weight: 600;
        letter-spacing: -2px;
        animation: float 3s infinite;
        line-height: 1;
        margin: 40px 0;
        @include _tablet {
            font-size: 50px;
        }
        @include _mobile {
            font-size: 40px;
        }
    }
}
